.text-primary {
  color: #FFDF00;
}

.bg-primary {
  color: #FFDF00;
}

.text-secondary {
  color: #592899;
}

.bg-secondary {
  color: #592899;
}

.text-error {
  color: #f13636;
}

.bg-error {
  color: #f13636;
}

:root {
  --clr:rgb(20,20,20);
  --body-bg:white;
  --p-clr:#FFDF00;
  --s-clr:#FFDF00;
  --header-bg:white;
  --font-clr:#252000;
  --hero-btn-clr:#252000;
  --menu-bg:white;
  --border:rgb(235, 235, 235);
  --border-hover:rgb(68, 68, 68);
  --back-btn-bg:#f8f8f8;
  --q-container-bg:rgb(245, 245, 245);
  --q-container-shadow:rgba(0,0,0,0.2);
  --q-clr:#592899;
  --option-bg:white;
  --threeD-shadow: 0rem 0.6rem 1rem var(--q-container-shadow), inset 0.5rem 0.5rem 1rem rgb(255, 255, 255);
  --threeD-option-shadow: 0 0.3rem 0.3rem var(--q-container-shadow), inset 0.3rem 0.3rem 0.3rem rgb(255, 255, 255);
}

.dark-theme {
  --clr:rgb(255, 255, 255);
  --body-bg:rgb(22, 22, 22);
  --p-clr:#FFDF00;
  --s-clr:#FFDF00;
  --header-bg:rgb(37, 37, 37);
  --font-clr:#dddddd;
  --hero-btn-clr:#252000;
  --menu-bg:rgb(43, 43, 43);
  --border:rgb(43, 43, 43);
  --border-hover:rgb(0, 0, 0);
  --back-btn-bg:#3a3a3a;
  --q-container-bg:rgb(30, 30, 30);
  --q-container-shadow:rgba(0,0,0,0.2);
  --q-clr:#8f3bfd;
  --option-bg:#2c2c2c;
  --threeD-shadow: 0rem 0.3rem 1rem var(--q-container-shadow), inset 0.5rem 0.5rem 0.5rem rgb(30, 30, 30);
  --threeD-option-shadow: 0 0.3rem 0.3rem var(--q-container-shadow), inset 0.3rem 0.3rem 0.3rem rgb(51, 51, 51);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--clr);
  letter-spacing: 0.05rem;
  font-weight: 600;
}

body {
  max-width: 200rem;
  background: var(--body-bg);
  overflow-x: hidden;
  margin: auto;
  height: 100%;
}

html {
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15), -0.3rem 0 0.5rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: #FFDF00;
  font-weight: 500;
}

header {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-bg);
  padding: clamp(0.6rem, 1rem, 1vw) clamp(2rem, 2.4rem, 2.4vw);
}
header h3, header a {
  font-size: clamp(2.2rem, 2.4rem, 2.4vw);
  cursor: pointer;
  color: var(--clr);
}
header h3 span, header a span {
  color: var(--clr);
}
header img {
  cursor: pointer;
  height: clamp(3rem, 3.2rem, 3.2vw);
}

#q_container {
  background: var(--q-container-bg);
  max-width: 70rem;
  margin: auto auto auto 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: var(--threeD-shadow);
  border-radius: 0.5rem;
}
@media (min-width: 700px) {
  #q_container {
    width: 60%;
  }
}
#q_container .q_number {
  position: absolute;
  background: #7F3CD4;
  padding: clamp(1rem, 1.2rem, 1.2vw);
  font-size: clamp(1.6rem, 1.7rem, 1.7vw);
  color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0rem 0.3rem 1rem var(--q-container-shadow), inset 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
#q_container div.q {
  text-align: left;
  margin: 2rem 1rem 1rem 1rem;
  padding: 0 2rem;
  width: 100%;
}
#q_container div.q h2 {
  font-size: clamp(1.8rem, 2rem, 2vw);
  color: var(--q-clr);
}

div.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  padding: 0 2rem;
}
div.options li {
  width: 100%;
  min-height: 4rem;
  max-width: 25ch;
  background: var(--option-bg);
  line-height: clamp(3.5rem, 4rem, 4vh);
  font-size: clamp(1.5rem, 1.6rem, 1.6vw);
  padding: 0.3rem 0.5rem;
  color: var(--clr);
  box-shadow: var(--threeD-option-shadow);
  border-radius: 0.5rem;
  transition: all 0.25s ease;
}
@media (max-width: 700px) {
  div.options li {
    max-width: unset;
    width: 100%;
  }
}
div.options li:hover {
  background: #7F3CD4;
  cursor: pointer;
  color: white;
  box-shadow: inset 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4), inset -0.3rem -0.3rem 0.3rem rgba(112, 112, 112, 0.4);
}
@media (min-width: 700px) {
  div.options li:hover {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }
}

.loader, .img_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202022;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .c, .img_loader .c {
  width: clamp(5rem, 7rem, 7vw);
  height: clamp(5rem, 7rem, 7vw);
  border: 1rem solid transparent;
  border-radius: 50%;
  position: absolute;
  animation: animate_loaders 1s linear infinite;
}
.loader .c1, .img_loader .c1 {
  border-top-color: red;
}
.loader .c2, .img_loader .c2 {
  border-bottom-color: purple;
}
@keyframes animate_loaders {
  0% {
    border-width: clamp(0.5rem, 1rem, 1vw);
    transform: rotate(0);
  }
  50% {
    border-width: clamp(0.2rem, 0.5rem, 0.5vw);
    transform: rotate(180deg);
  }
  100% {
    border-width: clamp(0.5rem, 1rem, 1vw);
    transform: rotate(360deg);
  }
}

main {
  text-align: center;
  padding: 2rem clamp(2rem, 2.4rem, 2.4vw);
  height: 70vh;
  max-height: 60rem;
}
@media (min-width: 700px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

main .q_img_container {
  margin: 1rem auto 1rem auto;
  height: clamp(25rem, 30rem, 30vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .q_img_container img {
  max-width: 100%;
  max-height: 15rem;
}
@media (min-width: 700px) {
  main .q_img_container {
    width: 40%;
    justify-content: right;
  }
}

.question_img {
  max-height: 100% !important;
}

.threeD-shadow {
  box-shadow: 0rem 0.3rem 1rem var(--q-container-shadow), inset 0.5rem 0.5rem 1rem white;
}