@import "../index.scss";
@import "./q_container";

main{
   text-align: center;
   padding: 0 3rem;
   margin-top: 5rem;
   @media (min-width:700px) {
      display: flex;
      flex-direction: row-reverse;
   }

}

main .q_img_container{
    margin:3rem auto;
    height: clamp(25rem,30rem, 30vw);
    img{
       max-width:100%;
       max-height: 100%;
    }

   @media(min-width:700px){
      width:50%;
   }

}
// .question_img{
//    width:100%;
//    max-width: 50rem;
// }
.threeD-shadow{
   box-shadow: 0rem 0.3rem 1rem var(--q-container-shadow), inset 0.5rem 0.5rem 1rem rgb(255, 255, 255);
}