header{
   box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.2);
   @include flex-sb;
   background: var(--header-bg);
   // padding: $pr-pad-v $pr-pad-h;
   padding:clamp(0.5rem,1rem,1vw) clamp(2rem,3rem,3vw);


   h3,a{
      font-size: clamp(2.2rem,2.4rem,2.4vw);
      cursor: pointer;
      color:var(--clr);
      span{color:var(--clr)}
   }


   img{
      cursor: pointer;
      height: clamp(3rem,3.2rem,3.2vw);
   }
}