section#hero_container{
   display: flex;
   position: relative;
   height: clamp(23rem,40rem,40rem);
   overflow-x:hidden ;


   img{
      width:59%;
      height: clamp(23rem,40rem,40rem);
      position: absolute;
      z-index: -1;
      top:0rem;
      @media (max-width:700px) {
         width:65%;
      }

      &:nth-child(1){
         transform: rotate(-10deg);
         left:-15rem;
         top:-10rem;
         @media(max-width:700px){
            transform: rotate(-30deg);
         }
      }
      &:nth-child(2){
         transform: rotate(10deg);
         right:-15rem;
         top:-10rem;
         @media(max-width:700px){
            transform: rotate(30deg);

         }
      }
   }

}

#hero_title{
   // text-align: center;
   font-size: clamp(3rem,4rem,4vw);
}
#hero_btn{
   font-size: $pr-font-size;
   margin-top:3rem;
   padding: clamp(0.8rem,1rem,1vw) clamp(2rem,2.6rem,2.6vw);
   color:black;
}