#level_menu{
   position: fixed;
   width: 100%;
   max-width: 50rem;
   height: 40rem;
   background: var(--menu-bg);
   left:50%;
   transform: translate(-50%,0%);
   top:100%;
   border-radius: 0.5rem;
   transition: all 0.3s ease;
   box-shadow: 0rem 1rem 1rem rgba(0,0,0,0.5);

   #close_menu_btn{
      position: absolute;
      right:0;
      top: 0;
      padding: 0.5rem 2rem;
      background: $error;
      font-size: 2rem;
      border-radius: unset;
   }
}


.active_menu{
   top:50% !important;
}

.part1,.part2{
   padding: 1rem 2rem;
}
.part1{
   // border-bottom:1px solid rgba(0,0,0,0.2);
   border-bottom:1px solid var(--border);
   h3{
      font-size: clamp(2.2rem,2.5rem,2.5vw);
      color:var(--font-clr);
   }
}

.part2.links_container{
   display: flex;
   flex-direction:column;
   a{
      padding: 1rem;
      margin-top: 1.5rem;
      background: #FFDF00;
      border-radius: 0.3rem;
      font-size: clamp(1.8rem,2rem,2vw);
      text-decoration: none;
      color:#2e2800;
      box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.2),inset 0 0.3rem 0.3rem rgba(126, 113, 2, 0.1);
      transition: all 0.25s ease;
      &:hover{
         // box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2),0 -0.3rem 0.5rem rgba(0,0,0,0.1);
         box-shadow: inset 0.3rem 0.3rem 0.5rem rgba(0,0,0,0.4),inset -0.3rem -0.3rem 0.3rem rgba(255, 230, 0, 0.4);
         @media (min-width:700px) {
            letter-spacing: 0.1rem;
         }
      }
   }
}